[submodule "externals/pathogen"]
	path = externals/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "externals/gist-vim"]
	path = externals/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "externals/colorschemes/molokai"]
	path = externals/colorschemes/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "externals/colorschemes/mac-classic"]
	path = externals/colorschemes/mac-classic
	url = git://github.com/nelstrom/vim-mac-classic-theme.git
[submodule "externals/syntax/markdown"]
	path = externals/syntax/markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "externals/colorschemes/xoria256"]
	path = externals/colorschemes/xoria256
	url = git://github.com/vim-scripts/xoria256.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
