[submodule "externals/pathogen"]
	path = externals/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "externals/gist-vim"]
	path = externals/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "externals/colorschemes/molokai"]
	path = externals/colorschemes/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "externals/colorschemes/mac-classic"]
	path = externals/colorschemes/mac-classic
	url = git://github.com/nelstrom/vim-mac-classic-theme.git
[submodule "externals/syntax/markdown"]
	path = externals/syntax/markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "externals/colorschemes/xoria256"]
	path = externals/colorschemes/xoria256
	url = git://github.com/vim-scripts/xoria256.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = git://github.com/davidoc/taskpaper.vim.git
	ignore = untracked
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:adrianocastro/snipmate.vim.git
	ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle/editorconfig"]
	path = bundle/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = git@github.com:itspriddle/vim-fuzzyfinder-pathogen.git
